$navbar-background-color: $cream;
$navbar-height:4rem;
$navbar-item-img-max-height:35px;
$navbar-item-hover-color:$primary;
$navbar-item-hover-background-color:lighten($navbar-background-color, 2);
$navbar-dropdown-arrow:$primary;
$navbar-dropdown-border-top:none;
$navbar-dropdown-item-hover-background-color:$background-blue;
$navbar-dropdown-item-hover-color:$text-blue;
$navbar-z: 30;
$navbar-fixed-z: 30;

$button-padding-vertical:1rem;
$button-padding-horizontal:1rem;
$normal-line-height:1.23em;

$radius-small: 2px;
$radius: 5px;
$radius-large: 7.5px;

$control-height:3.125em; // 50px at normal 16px size
$control-border-width:1px;

$control-padding-vertical: calc(0.8em - #{$control-border-width});
$control-padding-horizontal: calc(1em - #{$control-border-width});
$control-line-height:$normal-line-height;

$input-radius:0;
$input-hover-border-color:$info;
$input-focus-border-color:$info;
$input-focus-box-shadow-color:rgba($info, .1);
$input-border-color:$grey-light;

$label-color:$grey;
$label-size:14px;
$label-weight:$weight-normal;

$checkbox-active-background-color:$green-light;

$radio-active-background-color:$green-light;

$tag-radius: 0;
