.label {
	font-size: $label-size;

	&:not(:last-child) {
		margin-bottom: 1em
	}
}

.help {
	color: $grey;
	margin: 5px;
}

.input,
.textarea {
	@each $name, $pair in $textarea-colors {
		$color: nth($pair, 1);
		&.is-#{$name} {
			background-color:rgba($color, .09);
		}
	}
}

.b-checkbox.checkbox {
	&.is-disabled {
		opacity: 1;

		.check {
			background-color:$grey-light;
			border-color:$grey-light;
		}
	}
}


// Hopefully we don't need this, but preserving for reference
.button {
	/*text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.098em;
	height: auto;
	line-height: $normal-line-height;

	&.is-small {
		$button-padding-vertical-small: .25rem;
		padding-top: $button-padding-vertical-small;
		padding-bottom: $button-padding-vertical-small;
		font-size: 12px;
	}*/
}
