$some-grey:#D6D8DB;
$some-black:#1B1F1F;
$some-green:#2E8250;
$text-blue:#2F9EC6;
$background-blue:#EAF5F9;
$disabled-grey:#BBBBBB;

$primary:$some-green;
$danger:#D93446;


$navbar-gradient:linear-gradient(to right, rgba(230,225,197,0.2), rgba(230,225,197,0.2)),linear-gradient(to right, #fff, #fff);
