$navbar-background-color: #FAF9F3; // Sampled crudely from a gradient
$navbar-height:4rem;
$navbar-item-img-max-height:35px;
$navbar-dropdown-border-top:none;
$navbar-dropdown-item-hover-background-color:$background-blue;
$navbar-dropdown-item-hover-color:$text-blue;

$family-primary: Lato, Helvetica, Arial, sans-serif;
