.app-nav {
	$group-spacing:1rem;

	background-color:$cream;
	border-bottom:1px solid $grey-lighter;

	&__logo-item {
		width:64px;
		justify-content:center;
		margin-left:$group-spacing;

		img {
			width:45px;
			height:auto;
		}

		&.navbar-item {
			padding: 0.5rem 0;
		}
	}

	&__icon-items {
		max-width:135px;
		flex:1 1 auto;
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__icon-item {
		display:flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding:.2rem;
	}

	&__icon-wrap {
		$wrap-size:32px;
		width:$wrap-size;
		height:$wrap-size;
		border-radius:50%;
		background-color:$white;
		display:flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		font-size:20px;
		position:relative;

		&--user {
			font-size:28px;
		}
	}

	// Maybe turn this into a variant?
	.navbar-item, .navbar-link {
		text-transform: uppercase;
		font-size:$size-7;
		letter-spacing: .64px;
	}

	&-status {
		width:150px;
		flex:1 0 auto;
		height:$navbar-height;
		max-width:300px;
		font-size:$size-7;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-left:$group-spacing;

		&__header {
			background-color:$blue-light;
			display:flex;
			flex-direction:row;
			justify-content: space-between;
			align-items: center;
			padding:.25rem;

			> * + * {
				margin-left:1rem;
			}
		}

		&__name {
			font-weight:$weight-bold;
		}

		&__role {
			color:$text-blue;
			text-transform: uppercase;
		}

		&__body {
			$border:2px solid $blue-light;
			flex:1 0 auto;
			display:flex;
			flex-direction:row;
			justify-content: space-between;
			align-items: center;
			background-color:$white;
			border-left:$border;
			border-right:$border;

			.navbar-item {
				width:1%; //
				flex:1 1 50%;
			}

			> * + * {
				border-left:$border;
			}
		}

		&__dropdown {
			// We need a chain of explicit widths to make ellipsis work
			&-trigger,
			&-label,
			&-name {
				width:100%;
			}

			&-name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-transform: none;
			}

			&-trigger {
				padding:.25rem;

				&.navbar-link {
					line-height: 1.3em;
					font-size:$size-8;
					font-weight:$weight-bold;
				}
			}
		}
	}

	.navbar-menu {
		flex:1 1 auto;
	}

	.navbar-start,
	.navbar-end {
		flex:1 1 auto;
	}

	.navbar-start {
		flex:2 0 auto;
		max-width:700px;
		justify-content: space-between;
		margin:0 $group-spacing;

		.navbar-item,
		.navbar-link {
			padding:.5rem .25rem;
		}

		.navbar-link:not(.is-arrowless) {
			padding-right:1.55em;

			&::after {
				right:.25em;
			}
		}
	}
}
